*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:"Inter", sans-serif;
    height: 20000px;
}
:root{
    --main-color:hsla(0, 0%, 12%, 1);

}
.navbar{
    margin-block-end: 130px;
}
.landing-mainText{
    font-size: ;
}
