*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:"Inter", sans-serif;
    height: 2000px;
}
:root{
    --main-color:hsla(0, 0%, 12%, 1);

}
.navbar{
    margin-block-end: 70px;
}
.landing-mainText{
    font-size: 119px;
}

.landing-sub-text{
    max-width: 759px;
    font-weight: 400;
    font-size: 22px;
}
.landing-btn{
 padding: 20px 70px !important;
   font-size: 24px !important;
   margin-bottom: 70px !important;
}
.landing-img{
    position: relative;
    /* z-index: 2; */
}
.landing-img::before{
    
        content: "";
        position: absolute;
        top: -25px;
        left: -15px;
        width: 170px;
        height: 170px;
        border: 3px solid var(--main-color);
        z-index: -1;
}
.landing-img::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: var(--main-color);
    bottom: 0px;
    right: -63px;
}
.landing-img .icon{
    position: absolute;
    bottom: 30px; 
    right: -20px; 
    font-size: 40px; 
    color: white;
    z-index: 1; }

    .statistics p:first-child{
        font-size: 70px;
    }

    .statistics p:last-child{
        font-size: 19px;
    }
@media (max-width:768px) {
    .navbar{
        margin-block-end: 50px;
    }
    .landing-mainText{
        font-size: 50px;
    }
    .landing-sub-text{
        font-size: 17px;
    }
    .landing-btn{
        padding: 10px 30px !important;
    }
    .landing-img{
        display: none;
    }
   
}

.services{
    margin-block-start: 100px !important;
}
.line{
   padding: 0px 100px;
    background-color: var(--main-color);
}