*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:"Inter", sans-serif;
    height: 20000px;
}
:root{
    --main-color:hsla(0, 0%, 12%, 1);

}
.navbar{
    margin-block-end: 70px;
}
.landing-mainText{
    font-size: 119px;
}
.landing-sub-text{
    max-width: 759px;
    font-weight: 400;
    font-size: 22px;
}
.landing-btn{
   width: 200px;
   height: 50px;
}
.landing-img{
    position: relative;
    /* z-index: 2; */
}
.landing-img::before{
    
        content: "";
        position: absolute;
        top: -29px;
        left: -15px;
        width: 170px;
        height: 170px;
        border: 2px solid black;
        z-index: -1;
}
